@font-face {
	font-family: Myriad Pro;
	src: url(../font/MyriadProRegular.ttf);
	}
html{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
} 
body{
	overflow-x: hidden;
	margin: 0;
	font-family: Myriad Pro;
}
html, body{
	min-height: 100%;
}
p{
	margin: 0;
}
/*GRID - BEGIN*/
.grid-container {
	max-width: 100%;
	margin: 0 24px;
	grid-gap: 12px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
}

.grid-container__nested {
	margin: auto !important;
}

@media screen and (max-width: 767px) {
	.grid-cl-1-mobile {
		grid-column: span 1;
	}
	.grid-cl-2-mobile {
		grid-column: span 2;
	}
	.grid-cl-3-mobile {
		grid-column: span 3;
	}
	.grid-cl-4-mobile {
		grid-column: span 4;
	}
}

@media screen and (min-width: 768px) {
	.grid-container {
		margin: 0 40px;
		grid-gap: 20px;
		grid-template-columns: repeat(12, 1fr);
	}
	.grid-cl-1-tablet {
		grid-column: span 1;
	}
	.grid-cl-2-tablet {
		grid-column: span 2;
	}
	.grid-cl-3-tablet {
		grid-column: span 3;
	}
	.grid-cl-4-tablet {
		grid-column: span 4;
	}
	.grid-cl-5-tablet {
		grid-column: span 5;
	}
	.grid-cl-6-tablet {
		grid-column: span 6;
	}
	.grid-cl-7-tablet {
		grid-column: span 7;
	}
	.grid-cl-8-tablet {
		grid-column: span 8;
	}
	.grid-cl-9-tablet {
		grid-column: span 9;
	}
	.grid-cl-10-tablet {
		grid-column: span 10;
	}
	.grid-cl-11-tablet {
		grid-column: span 11;
	}
	.grid-cl-12-tablet {
		grid-column: span 12;
	}
}
@media screen and (min-width: 1024px) {
	.grid-container {
		margin: 0 60px;
	}
	.grid-cl-1-desktop {
		grid-column: span 1;
	}
	.grid-cl-2-desktop {
		grid-column: span 2;
	}
	.grid-cl-3-desktop {
		grid-column: span 3;
	}
	.grid-cl-4-desktop {
		grid-column: span 4;
	}
	.grid-cl-5-desktop {
		grid-column: span 5;
	}
	.grid-cl-6-desktop {
		grid-column: span 6;
	}
	.grid-cl-7-desktop {
		grid-column: span 7;
	}
	.grid-cl-8-desktop {
		grid-column: span 8;
	}
	.grid-cl-9-desktop {
		grid-column: span 9;
	}
	.grid-cl-10-desktop {
		grid-column: span 10;
	}
	.grid-cl-11-desktop {
		grid-column: span 11;
	}
	.grid-cl-12-desktop {
		grid-column: span 12;
	}
}

@media (min-width: 1280px) {
	.grid-container {
		margin: 0 48px;
		grid-gap: 28px;
	}
}

@media (min-width: 1440px) {
	.grid-container {
		margin: 0 56px;
	}
}

@media (min-width: 1920px) {
	.grid-container {
		margin: 0 68px;
	}
}

.grid-cl-container{
	padding: 20px 0px 130px 0;
}
/*GRID - END*/

/*HEADER - BEGIN*/
.header-wrapper {
    background: rgb(0,0,0,0.6);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0;
	z-index: 99;
}

.header-wrapper img{
    width: 60px;
    height: 46px;
}
@media (min-width: 1024px) {
    .header-wrapper img{
        width: 91px;
        height: 70px;
    }
}
/*HEADER - END*/

/*FOOTER - BEGIN*/
.footer-wrapper {
	background: rgb(0,0,0,0.6);
    width: 100%;
}

.footer-wrapper p{
	margin: 27px 0;
	font-size: 14px;
	color: #c1e2e5;
	opacity: 0.3;
	text-align: center;
}
/*FOOTER - END*/

/*BG - BEGIN*/
.background-wrapper{
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*BG - END*/

/*INPUT - BEGIN*/
.form__group__wrapper{
	height: 48px;
    border-radius: 4px;
    border: solid 1px #918ef4;
    display: inline-block;
    width: 100%;
    color: #918ef4;
    background: rgb(193, 226, 229, 1);
	margin: 16px 0;
}

.form__group__wrapper input{
    background-color: transparent;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: .5px;
    width: calc(100% - 50px);
    padding: 5px 25px;
    vertical-align: sub;
    border: 0;
    outline: 0;
    box-shadow: none;
	color: #533987 !important;
}

.form-group__label{
    color: #918ef4;
    font-weight: 400;
    font-size: 16px;
    display: table;
    position: relative;
    background: linear-gradient(180deg, transparent 45%, rgba(193,226,229,1) 52%, rgba(193,226,229,1) 100%);
    top: -52px;
    left: 15px;
    padding: 0 8px;
}

.form__group__wrapper select{
	width: calc(100% - 30px);
    height: 100%;
    background: transparent;
    padding: 0px;
    border: none;
    margin-left: 15px;
	color: #9493f2;
	position: relative;
    z-index: 99;
	outline: none;
}

.form__group__wrapper select::after{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #9493f2;
    position: absolute;
    top: 40%;
    right: 5px;
    content: "";
    z-index: 98;
}

.form-group__label + .form__group__wrapper select{
	top: -58px;
}

/*BTN - END*/
.button__wrapper{
	margin: 20px 0;
	text-align: center;
}
.button__content{
	max-width: 215px;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 4px;
    border: solid 1px #918ef4;
    background-color: #8781bd;
    font-size: 18px;
    color: #c1e2e5;
	cursor: pointer;
}
a.button__content{
	display: block;
    margin: auto;
    text-decoration: none;
    font-family: Arial;
}
/*BTN - END*/

.hide{
	display: none;
}

/*HIDDEN - BEGIN*/
@media (max-width: 767px) {
	.hidden-xs {
		display: none !important;
   }
}
@media (min-width: 768px) and (max-width: 1023px) {
	.hidden-sm {
		display: none !important;
   }
}
@media (min-width: 1024px) and (max-width: 1199px) {
	.hidden-md {
		display: none !important;
   }
}
@media (min-width: 1200px) {
	.hidden-lg {
		display: none !important;
   }
}
/*HIDDEN - END*/

.visibility-visible{
	visibility: visible;
}

.visibility-hidden{
	visibility: hidden;
}

/*LOGOUT*/
.logout{
	float: right;
	color: #c1e2e5;
	cursor: pointer;
}

/*MODALE INVITATION - BEGIN*/
.modal{
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-wrapper{
	background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 320px;
	text-align: center;
}
.modal-wrapper p{
    padding-top: 15px;
}

.modal-wrapper .close {
	color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    top: -20px;
    position: relative;
    left: 7px;
	cursor: pointer;
	text-decoration: none;
}

/*MODALE INVITATION - END*/

/*CHAT - BEGIN*/
.chat_wrapper{
    position: fixed;
    bottom: 15px;
    right: 15px;
	width: 90%;
    z-index: 999;
}
.chat_wrapper .chat-title{
    margin: 0;
    text-align: center;
    background: #918ef4;
    padding-top: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	color: #c1e2e5;
	padding-bottom: 15px;
	font-weight: normal;
}
.chat_wrapper .close{
    position: absolute;
    left: 92%;
    top: 1%;
	cursor: pointer;
}
.chat_button-wrapper{
	background-color: #918ef4;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    float: right;
	text-align: center;
}
.chat_button-wrapper img{
	width: 60px;
    height: 60px;
    vertical-align: middle;
    top: 8px;
    position: relative;
}
.chat_text-wrapper{
    margin-bottom: 5px;
	padding: 0 15px 15px;
    background: #c1e2e5;
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    border: 1px #918ef4 solid;
}
.chat_send-msg-wrapper input{
	width: 82%;
    height: 30px;
    padding: 5px;
    border: 1px solid #918ef4;
    border-radius: 10px;
}
.button__send-msg{
	display: inline-block;
    margin-left: 5px;
}
.button__send-msg img{
	width: 30px;
    height: 30px;
    vertical-align: middle;
}
.chat_text-area{
	height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 15px;
}
@media (min-width: 768px) {
	.chat_wrapper{
		width: 45%;
   }
}
@media (min-width: 1024px) {
	.chat_wrapper{
		width: 35%;
   }
}
/*CHAT - END*/