.you-win, .you-lose {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;

	/* set background */
	background-repeat: no-repeat;
	background-position: center;
	background-color: #0f0f0fcf;

	/* hide self */
	opacity: 0;
	visibility: hidden;
	transition: opacity 2s ease-in;

	/* hide text */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.you-win {
	background-image: url(../img/you-win.png);
}

.you-lose {
	background-image: url(../img/you-lose.png);
}

.show-banner {
	opacity: 1;
	visibility: visible;
}
